<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    {% include head_meta.html %}
  </head>

  <body>
    {% include header.html %}

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{{site.baseurl}}">Home</a></li>
            <li><a href="{{site.baseurl}}/#services">Services</a></li>
            <li>{{page.title}}</li>
          </ol>
          <h2>{{page.title}}</h2>
        </div>
      </section>
      <!-- End Breadcrumbs -->
      <!-- End Breadcrumbs -->

      <!-- ======= Blog Section ======= -->
      <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="entries">
              <article class="entry entry-single">
                <h2 class="entry-title">
                  <a href="{{site.baseurl}}/{{page.url}}">{{page.title}}</a>
                </h2>

                <div class="entry-content">{{ content }}</div>
              </article>
              <!-- End blog entry -->
            </div>
            <!-- End blog entries list -->
          </div>
        </div>
      </section>
      <!-- End Blog Section -->
    </main>
    <!-- End #main -->

    {% include footer.html%}
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    {% include scripts.html %}
  </body>
</html>
